@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
div.box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
div.header {
    width: 100%;
    height: 80px;
    margin: 0;
    background-color: #333;
    display: flex;
    color: #fff;
}
div.header h1 {
    padding-top: 7px;
    padding-left: 30px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1.4px;
}
div.nav {
    width: 100%;
    height: 40px;
    margin: 32px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.nav button {
    width: 100px;
    border-radius: 0px!important;
    -webkit-appearance: none;
    border: 1px solid #555!important;
}
div.nav button.active {
    background-color: #444;
    color: white;
}
div.section h2 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.4px;
}
div.header h4 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.8px;
    margin-top: 6px;
    margin-bottom: 0px;
}
div.section {
    max-width: 1260px;
    padding: 0 30px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.article {
    width: 100%;
}
div.article.menu {
    margin-bottom: 16px;
}
div.article form {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}
div.article select{
    width: 200px!important;
    border-radius: 1px!important;
    -webkit-appearance: none;
    border: 1px solid #777!important;
}
div.article button#make {
    border-radius: 1px!important;
    -webkit-appearance: none;
    border: 1px solid #777!important;
}
div.article.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
div.article.content .dis {
    padding-left: 36px;
    margin-bottom: 8px;
}
div.article.content h3 {
    letter-spacing: -0.8px;
    font-weight: 700;
    font-size: 24px;
    color: #222;
}
div.article.content h5 {
    margin-top: 0px;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-size: 16px;
    color: #222;
}
div.footer {
    width: 100%;
    height: 130px;
    margin: 40px 0 0 0;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.footer .info {
    padding-right: 100px;
}
div.footer h5 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.6px;
    margin: 4px;
    color: #ddd;
}
#mainChart {
    width: 100%;
    letter-spacing: -0.8px;
}

div.article .dis button {
    width: auto;
    border-radius: 0px!important;
    -webkit-appearance: none;
    border: 1px solid #555!important;
    margin-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
}
div.article .dis button.active {
    background-color: #444;
    color: white;
}
div.article h5.teamName {
    background-color: white;
    margin-top: 10px;
}
ul.nav {
    margin-top: 30px;
}
ul.nav-tabs {
    border-bottom: 1px solid #444;
}
ul.nav li a {
    color: #444!important;
    font-family: 'Noto Sans KR', sans-serif!important;
    letter-spacing: -0.8px!important;
}
ul.nav li a {
    border: 1px solid #444!important;
    border-radius: 0;
}
ul.nav li.active a {
    background-color: #444!important;
    color: #fff!important;
}
ul.nav li.active a:hover {
    background-color: #444!important;
    color: #fff!important;
}

button.play {
    border: 1px solid #444!important;
    border-radius: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 6px 9px;
}
button.play:hover {
    background-color: #ddd;
}
div.users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.teamtab {
    margin-top: 14px!important;
}
.teamcontent {
    padding-top: 7px!important;
}